<!DOCTYPE html>
<html  class= "light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="../../public/css/semtx.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

        <!--Header-->
        <nav class="navbar" style="justify-content: space-around">
            <!--Change Image placement-->
            <a href="/" class="navbar-brand"><img src="../../public/images/placeholder.png">Town Library Admin</a>
            <div class="input-search" style="width: 30%;">
                <!--Button wont go next to searchbar for regular form-input. Either fix or edit form-input-sm to match shape-->
                <input class="form-input-lg" type="search" name="adminTop" id="" placeholder="Search">
                <!--Add mag glass icon to bttn-->
                <button class="btn-small btn-primary input-icon">search</button>
            </div>
                 
        </nav>

        <!--Navigation sidebar-->
            <aside class="sidebar mt-8 one-col" style="position: fixed;">
                <ul class="sidebar-nav ">
                    <!--Add icons-->
                    <li><a class="active" href="#">Catalog</a></li>
                    <li><a href="#">Add Books</a></li>
                    <li class="mb-6"><a href="#">Add Lists</a></li>
                    
                    <li class="mt-6"><a href="#">Admin</a></li>
                    <li><a href="#">Holds</a></li>
                    <li><a href="#">Fines</a></li>
                    <li><a href="#">Repair Log</a></li>
                </ul>
            </aside>


        <!--Page body-->
        <main class="ml-80 mt-8">
          <div class=" container-lg"> <!--Maybe Change container to something else-->
            <div class="text-center">
                <h1>Catalog</h1>
                <div class="demo-row justify center">
                    <a href="#"><i class="material-icons">add_circle</i> Add Books</a>
                    <a href="#"><i class="material-icons">filter_alt</i> Filter</a>

                </div>
                
            </div>
            <div class="card-flat">
                <h3 class="mb-4">
                    Recently Added
                </h3>
                <!--List of books from the database. Try Alphabetical Order later-->
                <div class="main three-col"><!--Increase columns-->
                    <div class="well">
                    <article>
                        <img src="../../public/images/placeholder.jpg" alt="">
                         <p class="text">Books listed here</p>
                    </article>
                    </div>  
                    <div class="well">
                    <article>
                        <img src="../../public/images/placeholder.jpg" alt="">
                         <p class="text">Books listed here</p>
                    </article>
                    </div>  
                    <div class="well">
                    <article>
                        <img src="../../public/images/placeholder.jpg" alt="">
                         <p class="text">Books listed here</p>
                    </article>
                    </div>  
                    <div class="well">
                    <article>
                        <img src="../../public/images/placeholder.jpg" alt="">
                         <p class="text">Books listed here</p>
                    </article>
                    </div>  
                </div>
                
                    

                </div>              
             </div>
        
             <!--Fix length after fixing nav bar-->
        <footer class="page-footer mt-8">
            <p class="text-xs">&#169 2026 Town Library</p>
        </footer>



</main>
</body>
</html>