<!DOCTYPE html>
<html  class= "light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="../../public/css/semtx.css">
</head>
<main>
    <!--<div class="container-lg">-->

        <!--Header-->
        <nav class="navbar" style="justify-content: space-around">
            <a href="/" class="navbar-brand"><img src="../../public/images/placeholder.png">Town Library Admin</a>
            <div class="input-search" style="width: 30%;">
                <!--Button wont go next to searchbar for regular form-input. Either fix or edit form-input-sm to match shape-->
                <input class="form-input-lg" type="search" name="adminTop" id="" placeholder="Search">
                <!--Add mag glass icon to bttn-->
                <button class="btn-small btn-secondary input-icon">search</button>
            </div>
            
            
        </nav>

        <aside>
        </aside>

        <div class="book-list">

        </div>

        <footer class="page-footer">

        </footer>



    <!--</div>-->


</main>
</html>