<!doctype html>
<html class="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="../../assets/css/semtx.css" />
  </head>
  <body>
    <!--icon button-->
    <!--TODO: Fix color of icon-->
    <div class="demo-row mt-2">
      <button class="btn-small btn-primary rounded-lg input-icon">
        <i class="material-icons on-primary">search</i>
      </button>

      <!--home button-->
      <button class="btn-small btn-ghost">
        <i class="material-icons">home</i>
      </button>
      <!--settings button-->
      <button class="btn-small btn-ghost">
        <i class="material-icons">settings</i>
      </button>

      <!--primary button -->
      <button class="btn-lg btn-primary">Sample Text</button>
      <button disabled="" class="btn-lg btn-primary">Sample Text</button>
      <!--Primary -->
      <button class="btn-long btn-primary">Sample Text</button>
      <button disabled="" class="btn-long btn-primary">Sample Text</button>

      <!--secondary button-->
      <button class="btn-lg btn-secondary">Sample Text</button>
      <button disabled="" class="btn-lg btn-secondary">Sample Text</button>
      <!-- long secondary button--->
      <button class="btn-long btn-secondary">Sample Text</button>
      <button disabled="" class="btn-long btn-secondary">Sample Text</button>

      <!--danger-button-->
      <button class="btn-lg btn-danger">Sample Text</button>
      <button disabled="" class="btn-lg btn-danger">Sample Text</button>
      <!--long danger button-->
      <button class="btn-long btn-danger">Sample Text</button>
      <button disabled="" class="btn-long btn-danger">Sample Text</button>
    </div>
  </body>
</html>
