<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../assets/css/semtx.css">
</head>
<body>

    <div class="two-col">
        <div class="card-flat m-4 "> <!--presitation-->
            
            <form action="">
                <fieldset>
                    <!--Email-->
                    <div class="form-group mb-4">
                        <label class="my-1" for="email">Email</label> 
                        <input class="form-input" type="email" id="email" placeholder="you@example.com" required style="width: 300px;">
                        <span class="form-error">Please enter a valid email address</span>
                    </div>

                    <!--Text-->
                    <div class="form-group mb-4">
                        <label for="password">First Name</label> 
                        <input class="form-input" type="text" pattern="[A-Za-z]" id="name" placeholder="John" required style="width: 300px;">
                        <span class="form-error">Please enter a valid name</span>
                    </div>

                    <!--Password-->
                    <div class="form-group mb-4">
                        <label for="password">Password</label> 
                        <input class="form-input" type="password" pattern="" id="password" placeholder="********" required style="width: 225px;">
                        <span class="form-error">Please enter a valid Password</span>
                    </div>


                    <!--Select-->
                    <div class="form-group mb-4">
                        <label for="password">Select</label> 
                        <select name="select" id="select" class="form-input select" style="width:300px" required>
                            <option value="" class="disabled selected hidden">Please choose...</option>
                            <option value="1">option</option>
                            <option value="2">option</option>
                            <option value="3">option</option>
                            <option value="4">option</option>
                        </select>
                        <span class="form-error">Please Select an Option</span>
                </div>
                

                <!--ChceckBox-->
                <div class="form-group mb-4">
                    <label class="form-check">
                            <input type="checkbox" name="" id="check1" checked>
                            <span>Checkbox1</span>
                    </label>
                    <label class="form-check">
                            <input type="checkbox" name="" id="check2">
                            <span>Checkbox2</span>
                    </label>
                </div>

                <!--RadioBtn-->
                
                <div class="form-group mb-4">
                        <fieldset>
                        <legend>Options</legend>
                            <label class="form-check">
                                <input type="radio" name="radio">
                                <span>Option 1</span>
                            </label>
                            <label class="form-check">
                                <input type="radio" name="radio">
                                <span>Option 2</span>
                            </label>
                        </fieldset>
                    </div>


                </fieldset>
                <button class="btn-lg btn-primary">Submit</button>
            </form>
        </div> <!--presitation-->

        <div class="card-flat m-4 "> <!--presitation-->
            
            <!--Disabled-->
            <form action="">
                <fieldset>
                    <!--Email-->
                    <div class="form-group mb-4">
                        <label class="my-1" for="email">Email</label> 
                        <input disabled class="form-input" type="email"  id="email" placeholder="you@example.com"  style="width: 300px;">
                        <span class="form-error">Please enter a valid email address</span>
                    </div>

                    <!--Text-->
                    <div class="form-group mb-4">
                        <label for="password">First Name</label> 
                        <input disabled class="form-input" type="text"   pattern="[A-Za-z]" id="name" placeholder="John" style="width: 300px;">
                        <span class="form-error">Please enter a valid name</span>
                    </div>

                    <!--Password-->
                    <div class="form-group mb-4">
                        <label for="password">Password</label> 
                        <input disabled class="form-input" type="password" pattern="" id="password" placeholder="********"  style="width: 225px;">
                        <span class="form-error">Please enter a valid Password</span>
                    </div>


                    <!--Select-->
                    <div class="form-group mb-4">
                        <label for="password">Select</label> 
                        <select disabled  name="select" id="select" class="form-input select" style="width:300px">
                            <option value="" class="disabled selected hidden">Please choose...</option>
                            <option value="1">option</option>
                            <option value="2">option</option>
                            <option value="3">option</option>
                            <option value="4">option</option>
                        </select>
                        <span class="form-error">Please Select an Option</span>
                </div>
                

                <!--ChceckBox-->
                <div class="form-group mb-4">
                    <label class="form-check">
                            <input disabled type="checkbox" name="" id="check1" checked>
                            <span>Checkbox1</span>
                    </label>
                    <label class="form-check">
                            <input disabled type="checkbox" name="" id="check2">
                            <span>Checkbox2</span>
                    </label>
                </div>

                <!--RadioBtn-->
                
                <div class="form-group mb-4">
                        <fieldset>
                        <legend>Options</legend>
                            <label class="form-check">
                                <input disabled type="radio" name="radio">
                                <span>Option 1</span>
                            </label>
                            <label class="form-check">
                                <input  disabled  type="radio" name="radio">
                                <span>Option 2</span>
                            </label>
                        </fieldset>
                    </div>


                </fieldset>
                <button disabled class="btn-lg btn-primary">Submit</button>
            </form>
        </div><!--presitation-->





    </div> <!--presitation-->
</body>
</html>