<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../assets/css/semtx.css">
</head>
<body>
     <div class="demo-row m-4"> <!--For presentation-->
        <!--table-->
        <div class="table table-wrapper" style="width: fit-content;">
            <table class="table-striped table-hover">
                <!--Table header-->
            <thead>
                <th>Label1</th>
                <th>Label2</th>
                <th>Label3</th>
                <th>Label4</th>
            </thead>

            <!--table body-->
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit.</td>
                    <td>Lorem ipsum dolor.</td>
                    <td>Lorem ipsum .</td>
                    <td>Lorem.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit.</td>
                    <td>Lorem ipsum dolor.</td>
                    <td>Lorem ipsum.</td>
                    <td>Lorem.</td>
                </tr>
            </tbody>
            </table>
            
        </div>

        <!--Soratable table with row actions-->
         <div class="table table-wrapper" style="width: fit-content;">
            <table class="table-striped table-hover table-sort">
                <!--Table header-->
            <thead>
                <th><button class="btn-ghost">Label1 <i class="material-icons" style="font-size: 16px;">unfold_more</i> </button></th>
                <th><button class="btn-ghost">Label2 <i class="material-icons" style="font-size: 16px;">unfold_more</i> </button></th>
                <th>Label3</th>
                <th>Label4</th>
               
            </thead>

            <!--table body-->
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit.</td>
                    <td>Lorem ipsum dolor.</td>
                    <td>Lorem ipsum .</td>
                    <td>Lorem.</td>
                        <td class="row-actions">
                            <button><i class="material-icons delete">delete</i></button>
                            <button><i class="material-icons edit">edit</i></button>
                        </td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit.</td>
                    <td>Lorem ipsum dolor.</td>
                    <td>Lorem ipsum.</td>
                    <td>Lorem.</td>                   
                        <td class="row-actions">
                            <button><i class="material-icons delete">delete</i></button>
                            <button><i class="material-icons edit">edit</i></button>
                        </td>                    
                </tr>
            </tbody>
            </table>
            
        </div>

        <!--Empty table-->
        <div class="table table-wrapper" style="width: fit-content;">
            <table class="table-hover table-sort">
                <!--Table header-->
                <col style="min-width: 130px;">
                <col style="min-width: 130px;">
                <col style="min-width: 130px;">
                <col style="min-width: 130px;">
              
            <thead>
                <th>Label1</th>
                <th>Label2 </th>
                <th>Label3</th>
                <th>Label4</th>
               
            </thead>

            <!--table body-->
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
            
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                                     
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                                     
                                     
                </tr>
            </tbody>
            </table>
            
        </div>



     </div>
</body>
</html>