package book

import (
	"fmt"
	"voxelprismatic/library-management-senior-project/db"
	"voxelprismatic/library-management-senior-project/web/common"
)

css book_thumb_container() {
	height: 256px;
	width: 512px;
	padding: 8px;
	background-color: #eee;
	border: 2px solid #000;
	margin: 4px;
	display: inline-block;
}

css book_thumb_flex() {
	display: flex;
	flex-direction: row;
	height: 100%;
}

css book_thumb_img() {
	height: 100%;
	margin-right: 4px;
}

css book_thumb_tag() {
	padding: 4px;
	margin: 0px 4px 0px 0px;
	background-color: #ddd;
	border: 2px solid #888;
	font-size: smaller;
}

templ BookThumb(b db.BookWork, variants ...db.BookWork) {
	<div class={ book_thumb_container() } id={ b.ID }>
		<div class={ book_thumb_flex() }>
			<img src={ b.CoverThumb } class={ book_thumb_img() }/>
			<div style="display: flex; flex-direction: column;">
				<div>{ b.Title }</div>
				<div style="font-size: smaller;">
					{ "by " }
					for i, author := range b.Authors {
						<a href={ templ.SafeURL("?q=author:" + author) }>{ author }</a>{
						}if i < len(b.Authors)-1 {
							<span>{ ", " }</span>
						}
					}
				</div>
				<div style="margin: 8px 0px">
					for _, tag := range b.Tags() {
						<span class={ book_thumb_tag() }>{ tag }</span>
					}
				</div>
				<div style="overflow: scroll">{ b.Description }</div>
				if len(variants) > 0 {
					<select value={ b.ID }>
						<option value={ b.ID }>{ b.Version }</option>
						for _, v := range variants {
							<option value={ v.ID }>{ v.Version }</option>
						}
					</select>
				}
			</div>
		</div>
	</div>
}

templ BookTrunk(b db.BookWork) {
	<div class="card my-4">
		<div class="book-container">
			@bookTrunkContainer(b)
		</div>
	</div>
}

templ BookTrunkAdmin(b db.BookWork) {
	<div class="card my-4" id={ "book-" + b.ID }>
		<div class="book-container">
			@bookTrunkContainer(b)

			<div class="actions flex flex-col gap-2 items-end">
				<!-- TO-DO: Database lookup, this isn't reliable -->
				if !b.CreatedAt.IsZero() {
					<button disabled>@common.Icon("check", false)</button>
				} else {
					<form hx-put="/management/books/add"
						hx-target={ "book-" + b.ID}>
						<input name="id" class="hidden" value={ b.ID }/>
						<button type="submit">@common.Icon("add", false)</button>
					</form>
				}
			</div>
		</div>
	</div>
}

templ bookTrunkContainer(b db.BookWork) {
	<img src={ b.CoverThumb } alt="[book cover]" class="book-cover mr-2"/>

	<div class="book-info flex flex-col gap-1">
		<h3 class="book-title text-secondary mb-0">{ b.Title }</h3>
		<span class="author text-sm mb-2">
			{ "by " }
			for i, author := range b.Authors {
				<a href="#" data-search={ fmt.Sprintf("author:%s", author) }
					_="on click
						put my.dataset.search into #main-search-bar.value
						trigger submit on #search-form
					end">
					{ author }
				</a>{
				}if i < len(b.Authors)-1 {
					<span>{ ", " }</span>
				}
			}
		</span>
		<div>
			if counts, err := b.AvailableCopies(false); err != nil {
				<span>{ err.Error() }</span>
			} else {
				for f, count := range counts {
					switch f {
						case db.BookFmtPaperback:
							@common.ShieldText("Paperback", fmt.Sprintf("%d", count), "var(--peach)", "var(--text)")
						case db.BookFmtHardCover:
							@common.ShieldText("Hard Cover", fmt.Sprintf("%d", count), "var(--peach)", "var(--text)")
						case db.BookFmtPhysicalAudio:
							@common.ShieldText("Audio Player", fmt.Sprintf("%d", count), "var(--teal)", "var(--text)")
						case db.BookFmtDigitalBook:
							@common.ShieldText("Kindle", fmt.Sprintf("%d", count), "var(--green)", "var(--text)")
						case db.BookFmtDigitalAudio:
							@common.ShieldText("Audible", fmt.Sprintf("%d", count), "var(--sky)", "var(--text)")
						default:
							@common.ShieldText("Unknown Format", fmt.Sprintf("%d", count), "var(--red)", "white")
					}
				}
			}
			<!-- TO-DO: Tags -->
		</div>
		<div style="overflow: scroll" class="description mt-4 leading-base">
			{ b.Description }
		</div>
	</div>
}


templ BookCover(b db.BookWork) {
	<div class="well">
		<article>
			<img src={ b.CoverThumb } alt={ fmt.Sprintf("%s by %s", b.Title, b.Authors) }/>
			<p class="text">
				{ b.Title }
				<br/>
				<span style="font-size: smaller;">
					{ "by " }
					for i, author := range b.Authors {
						<span>{ author }</span>{  }
						if i < len(b.Authors)-1 {
							<span>{ ", " }</span>
						}
						if i == len(b.Authors)-2 {
							<span>{ "and " }</span>
						}
					}
				</span>
			</p>
		</article>
	</div>
}
