package common

templ Head(title string, desc string) {
	<!DOCTYPE html>
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" href="/assets/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content={ desc }/>
		<title>{ title }</title>
		<script type="text/javascript" src="/assets/js/htmx-2.0.8.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/hyperscript.org@0.9.91/dist/_hyperscript.min.js" integrity="sha384-kNli9q2SAIKZyCaj/HsxM+q3rmzWVyOTVcwQ/X1tVf7h38a1wkbfBYpckMRA0eSr" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/assets/css/semtx.css"/>
		<link rel="stylesheet" type="text/css" href="/assets/css/custom.css"/>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	</head>
}

templ NavHead(subpage string, searchPrefill string) {
	<nav class="navbar" style="justfiy-content: space-around">
		<!-- TO-DO: Chance Image Placement -->
		<a href="/" class="navbar-brand">
			<img src="../../assets/img/placeholder.jpg"/>
			Town Library
			{ subpage }
		</a>
		<div class="input-search" style="width: 30%">
			<!-- TO-DO: Button won't go next to searchbar for regular form input. -->
			<!-- TO-DO: Either fix or edit form-input-sm to match shape -->
			<input
				class="form-input-lg"
				type="search"
				name="q"
				id="q"
				placeholder="Search..."
				value={ searchPrefill }
			/>
			<!-- TO-DO: Add magnifying glass to button text -->
			<button class="btn-small btn-primary input-icon">Search</button>
		</div>
	</nav>
}

templ NavAside(entries NavAsideEntryList, active string) {
	<aside class="sidebar mt-8 one-col" style="position: fixed;">
		<ul class="sidebar-nav">
			for i, e := range entries {
				if e.Name != "" {
					<li class={ templ.KV("mt-6", entries.HasPrevBlank(i)), templ.KV("mb-6", entries.HasNextBlank(i)) }>
						<a class={ templ.KV("active", e.Link == active) } href={ e.Link }>{ e.Name }</a>
					</li>
				}
			}
		</ul>
	</aside>
}

templ Footer() {
	<footer class="page-footer  mt-8 flex justify-between">
		<p class="text-s">&#169; 2026 Town Library</p>
		<!-- TO-DO: Link to user Library home page. -->
		<button class="btn-small btn-ghost">
			<i class="material-icons mb-2" style="font-size: 24px;">home</i>
		</button>
	</footer>
}
