package common

templ Pagination(id string, current int, total int, target string, endpoint string) {
	<div class="pagination-cont">
		<ul class="pagination">
			<li>
				<a id={ id+"-prev" } href="#" _={ pagePrev(id) } class="pagination-btn" aria-label="Previous page">
					<i class="material-icons">chevron_left</i>
				</a>
			</li>
			<li class="pagination-info">
				<form id={ id+"-form" }
					hx-swap="outerHTML"
					hx-target={ "#"+target }
					hx-post={ endpoint }
					hx-trigger="submit delay:1s">
					<input id={ id }
						name="page"
						type="number"
						class="pagination-input hide-spinner"
						min="1"
						max={ total }
						value={ current }
						_={ pageInput(id) }
					/>
				</form>
				<span class="pagination-sep">of { total }</span>
			</li>
			<li>
				<a id={ id+"-next" } href="#" _={ pageNext(id) } class="pagination-btn" aria-label="Next page">
					<i class="material-icons">chevron_right</i>
				</a>
			</li>
		</ul>
	</div>
}
