package common

import (
	"fmt"
	"voxelprismatic/library-management-senior-project/db"
)

func colors(fg, bg string) []templ.SafeCSS {
	return []templ.SafeCSS{
		templ.SafeCSS(fmt.Sprintf("background-color: %s;", bg)),
		templ.SafeCSS(fmt.Sprintf("color: %s;", fg)),
	}
}

templ Shield(icon string, label string, bg string, fg string) {
	<div class="shield">
		<div style="background: var(--bg-base);">
			@Icon(icon, false)
		</div>
		<div style={ colors(fg, bg) }>{ label }</div>
	</div>
}

templ ShieldText(lhs string, rhs string, bg string, fg string) {
	<div class="shield">
		<div style="background: var(--bg-base);">{ lhs }</div>
		<div style={ colors(fg, bg) }>{ rhs }</div>
	</div>
}

templ ShieldFormat(f db.BookFmtFlag, count db.CopyCount) {
	switch f {
		case db.BookFmtPaperback:
			@ShieldText("Paperback", fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
		case db.BookFmtHardCover:
			@ShieldText("Hard Cover", fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
		case db.BookFmtPhysicalAudio:
			@ShieldText("Audio Player", fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
		case db.BookFmtDigitalBook:
			@ShieldText("Kindle", fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
		case db.BookFmtDigitalAudio:
			@ShieldText("Audible", fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
		default:
			@ShieldText(f.String(), fmt.Sprintf("%d", count.Available), "var(--tertiary)", "var(--on-primary)")
	}
}
