package common

import "fmt"

func colors(fg, bg string) []templ.SafeCSS {
	return []templ.SafeCSS{
		templ.SafeCSS(fmt.Sprintf("background-color: %s;", bg)),
		templ.SafeCSS(fmt.Sprintf("color: %s;", fg)),
	}
}

templ Shield(icon string, label string, bg string, fg string) {
	<div class="shield">
		<div style="background: var(--bg-base);">
			@Icon(icon, false)
		</div>
		<div style={ colors(fg, bg) }>{ label }</div>
	</div>
}

templ ShieldText(lhs string, rhs string, bg string, fg string) {
	<div class="shield">
		<div style="background: var(--bg-base);">{ lhs }</div>
		<div style={ colors(fg, bg) }>{ rhs }</div>
	</div>
}
